# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Flask
instance/
.webassets-cache

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Entorno
.env
.env.local

# Base de datos
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Distribución
dist/
build/
*.egg-info/